<div class="container">
  <table class = "table">
    <thead>
      <tr>
        <th>Оригинал</th>
        <th>Перевод</th>
        <th>Дата</th>
      </tr>
    </thead>
    <tbody>
      <% @cards.each do |c| %>
        <tr>
          <td><%= c.original_text %></td>
          <td><%= c.translated_text %></td>
          <td><%= c.review_date&.strftime("%d/%m/%Y") %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
