<header class="clearfix">
  <h1>Флэшкарточкер</h1>
  <ul class="navigation-links">
    <%= link_to "Все карточки", cards_path, class: 'btn btn-primary' %>
    <%= link_to "Добавить карточку", "#", class: 'btn btn-secondary' %>
  </ul>
</header>
